<h1>Sign our petition to give everone in Berlin their Birthday off!</h1>
<h3>If your birthday that year is on a national holiday, you will get an additonal day instead.</h3>

<iframe src="https://giphy.com/embed/xTiTnEHBh7qapyuvwQ" width="480" height="392" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

<div class="name-input">
<input type="text" class="firstname" name="firstname"><br>
<label for="firstname">First Name</label><br>
<input type="text" class="lastname" name="lastname"><br>
<label for="lasstname">Last Name</label>
</div>

<button type="submit">Submit</button>