<h2>Sign our petition to give everone in Berlin their Birthday off!</h2>
<img src="././layouts/Birthday_cake_favicon.png" alt="A picture of a birtday cake">
<iframe src="https://giphy.com/embed/xTiTnEHBh7qapyuvwQ" width="480" height="392" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

<button type="submit">Submit</button>