<h2>Sign our petition to give everone in Berlin their Birthday off!</h2>

<iframe src="https://giphy.com/embed/xTiTnEHBh7qapyuvwQ" width="480" height="392" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

<label for=""></label>
<input type="text" class="firstname" name="firstname">
<input type="text" class="lastname">


<button type="submit">Submit</button>