<h1>Sign our petition to give everone in Berlin their Birthday off!</h1>
<h3>If your birthday that year is on a national holiday, you will get an additonal day instead.</h3>

<iframe src="https://giphy.com/embed/xTiTnEHBh7qapyuvwQ" width="380" height="302" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

<h2 class="hidden">Something went wrong. Please try again</h2>

<form method="POST">
    <div class="name-input">
        <input type="text" class="firstname" name="firstname" required><br>
        <label for="firstname">First Name</label><br>
        <input type="text" class="lastname" name="lastname" required><br>
        <label for="lastname">Last Name</label>
</div>

    <input type="hidden" name="signature" id="signature" value="{{csrfToken}}"required>
    <canvas id="canvas-signature"></canvas>
    <p>Sign here</p>

    <button  type="submit">Submit</button>
</form>