{{>birthday}}

<form method="POST">
    <div class="login-container">
        <h1>Please log in</h1>
        <br />

        {{#if error}}
        <h1 class="hidden">Something went wrong. Please try again</h1>
        {{/if}}
        {{#if noUser}}
        <h4>User doesn't exist.</h4>
        {{/if}}

        {{#if wrongPassword}}
        <h4>Sory, wrong password.</h4>
        {{/if}}

        {{#if loggedOut}}
        <h3>You are logged out.</h3>
        {{/if}}

        <label for="email">Email address</label>
        <input type="email" name="email" id="email" />

        <label for="password">Password</label>
        <input type="password" name="password" id="password" />

        <button>Log In</button>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    </div>
</form>
