{{>birthday}}

<h1>Please log in.</h1>

<form method="POST">
    {{#if error}}
    <h2 class="hidden">Something went wrong. Please try again</h2>
    {{/if}}
    <label for="email">Email-Address</label>
    <input type="email" name="email" />

    <label for="password">Password</label>
    <input type="text" name="password" />

    <button>Log In</button>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
</form>
