
<div class="birthday-container">
<h1 class="birthday">Make Birthdays relaxed again</h1>
</div>
<div class="text-container">
<h1>Sign our petition to give everone in Berlin their birthday off!</h1>
<h3>(Don't worry: If your birthday that year is on a national holiday, you will get an additional day instead)</h3>
</div>


<h2 class="hidden">Something went wrong. Please try again</h2>
<div class="container">
<form method="POST">
    <div class="name-input">
        <input type="text" class="firstname" name="firstname" required>
        <label for="firstname">First Name</label>
        <input type="text" class="lastname" name="lastname" required>
        <label for="lastname">Last Name</label>
</div>


    <input type="hidden" name="_csrf" value="{{csrfToken}}">
  


    <input type="hidden" name="signature" id="signature" required>
    <canvas id="canvas-signature"></canvas>
    <p>Sign here</p>

    <button  type="submit">Submit</button>
</form>
</div>