<!-- {{>navbar}}
{{>birthday2}}

{{#if error}}
<h3>{{ error }}</h3>
{{/if}}
<form method="POST">
    <div class="profile-textcontainer">
        <h1>We would like to know more about you! (But it's optional)</h1>
    </div>
    <div class="profile-boxes">
        <label for="age">Age</label>
        <input type="number" name="age" />

        <label for="city">City</label>
        <input type="text" name="city" />

        <label for="url">Homepage</label>
        <input type="url" placeholder="https://example.com" name="url" />
    </div>

    <button class="continue">Continue</button>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
</form> -->

{{>navbar}}
{{>birthday2}}

{{#if error}}
<h3>{{ error }}</h3>
{{/if}}
<form method="POST">
    <div class="profile-textcontainer">
        <h2 class="text-center">
            We would like to know more about you (but it's optional)!
        </h2>
    </div>
    <div class="profile-input">
        <div class="form-group">
            <label for="age">Age</label>
            <input
                type="number"
                class="form-control"
                name="age"
                id="formGroupExampleInput2"
            />
        </div>
        <div class="form-group">
            <label for="city">City</label>
            <input
                type="text"
                class="form-control"
                name="city"
                id="formGroupExampleInput"
            />
        </div>
        <div class="form-group">
            <label for="website">Website</label>
            <input
                type="url"
                class="form-control"
                name="url"
                id="formGroupExampleInput2"
                placeholder="https://example.com"
            />
        </div>
    </div>
    <div class="button-continue">
        <button type="submit" class="btn btn-primary">Continue</button>
    </div>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
</form>
