{{>navbar}}
{{>birthday2}}

{{#if error}}
<h3>{{ error }}</h3>
{{/if}}
<form method="POST">
    <div class="profile-textcontainer">
        <h1>We would like to know more about you! (optional)</h1>
    </div>
    <div class="profile-boxes">
        <label for="age">Age</label>
        <input type="number" name="age" />

        <label for="city">City</label>
        <input type="text" name="city" />

        <label for="url">Homepage</label>
        <input type="url" placeholder="https://example.com" name="url" />
    </div>

    <button class="continue">Continue</button>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
</form>
