
<div class="signers-container">
<h1>Thanks to our signers!</h1>
<iframe src="https://giphy.com/embed/xTiTnEHBh7qapyuvwQ" width="380" height="302" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    {{#signers}}
 <p>{{first_name}} {{last_name}}</p>
    {{/signers}}
</div>
