{{>navbar}}
<div class="content">
    <div class="logo">
        {{>birthday2}}
    </div>

    <div class="thanks-container">
        <div class="thanks-text-container">
            <h1>Thank you for your support!</h1>
            <h4>May we all enjoy our future birthdays even more!</h4>
        </div>
        <div class="signature-container">
            <img
                src="{{ signature }}"
                alt="Signature of the signer"
                class="signature"
            />
            <div class="text-center">
                <a href="/signers">See who else signed the partition</a><br />
                <a href="/profile/edit">Edit your profile</a>

                <form method="POST">
                    <button class="deleteSignature text-center">
                        Delete your signature
                    </button>
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                </form>
            </div>
        </div>
    </div>
</div>
