{{>navbar}}

{{>birthday2}}

<div class="thanks-container">
    <div class="text-container">
        <h1>Thank you for your support!</h1>
        <h4>May we all enjoy our future birthdays even more!</h4>
    </div>
    <div class="canvas">
        <img
            src="{{ signature }}"
            alt="Signature of the signer"
            class="signature"
        />
    </div>
    <div class="text-center">
        <a href="/signers">See who else signed the partition</a><br />
        <a href="/profile/edit">Edit your profile</a>

        <form method="POST">
            <button class="deleteSignature">Delete your signature</button>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        </form>
    </div>
</div>
