.edit-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-left: 150px;
    padding-top: 50px;
    justify-content: center;
}
.text-edit-container {
    flex: 0;
}

.content {
    flex: 1;
    flex-direction: row;
    display: flex;
    min-height: 0;
}

.form-edit-container {
    flex: 1;
    overflow-y: auto;
    height: 350px;
}

.logo {
    flex: 0;
}

div.button-edit {
    margin-top: 20px;
}
