.login-container {
    width: 300px;
    height: auto;
    margin-left: 57%;
    margin-top: -28%;
}
.login-container input {
    width: 300px;
    border-radius: 3px;
}
.login-container label {
    font-family: 'Montserrat', sans-serif;
}

div.button {
    margin-left: 3%;
    margin-top: 10px;
}
div.logo-big {
    margin-top: 40px;
}
