canvas {
    width: 600px;
    height: 120px;
    border: 2px dotted black;
    align-self: center;
    margin-left: 25%;
    margin-top: 20px;
}

div.text-container {
    width: 400px;
    height: auto;
    margin-top: -200px;
}

.container {
    margin-top: -19%;
    margin-left: 15%;
}

.button3 {
    margin-left: 47%;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0px;
}

p {
    font-size: 18px;
}

p.sign {
    margin-left: 25%;
}
