/* .register-container {
    width: 500px;
    height: auto;
    margin-left: 45%;
    margin-top: -20%;
}

.register-input {
    width: 900px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 60px;
}

.register-input input {
    margin: 20px;
    width: 300px;
}
.register-input label {
    font-family: 'Montserrat', sans-serif;
}

.member {
    width: 700px;
    height: auto;
    margin-left: 300px;
}

.register-button {
    margin-top: 20px;
    margin-left: 400px;
    margin-bottom: 20px;
} */

.form-group {
    width: 400px;
}

.form-group label {
    margin-bottom: 6px;
    margin-top: 15px;
}
