* {
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #fffd82; */
    background: rgb(255, 253, 130);
    background: linear-gradient(
        90deg,
        rgba(255, 253, 130, 1) 44%,
        rgba(255, 155, 113, 1) 100%
    );
    font-family: 'Work Sans', sans-serif;
    margin-top: 80px;
    padding: 30px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: rgb(56, 54, 54);
}

.content {
    flex: 1 0 auto;
}

a {
    text-decoration: none;
}

.hidden {
    color: red;
    font-style: italic;
}

/* birthday-logo styling */

.birthday-container {
    display: flex;
    width: 500px;
    height: auto;
    margin: 10px 50px 50px 50px;
    flex-wrap: wrap;
    left: 200px;
}

.birthday {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold 800;
    font-size: 100px;
    line-height: 75px;
    align-self: center;
    color: #ff9b71;
    text-shadow: 1px 1px #e84855, 2px 2px #e84855, 3px 3px #e84855,
        4px 4px #e84855, 5px 5px #e84855, 6px 6px #e84855, 7px 7px #e84855,
        8px 8px #e84855, 9px 9px #e84855, 10px 10px #e84855, 11px 11px #e84855,
        12px 12px #e84855, 13px 13px #e84855, 14px 14px #e84855,
        15px 15px #e84855, 16px 16px #e84855, 17px 17px #e84855,
        18px 18px #e84855, 19px 19px #e84855, 20px 20px #e84855;
}

.birthday-container_two {
    display: flex;
    width: 300px;
    height: auto;
    margin: -50px 50px 50px 30px;
    flex-wrap: wrap;
    left: 200px;
}

.birthday_two {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold 800;
    font-size: 60px;
    line-height: 50px;
    align-self: center;
    color: #ff9b71;
    text-shadow: 1px 1px #e84855, 2px 2px #e84855, 3px 3px #e84855,
        4px 4px #e84855, 5px 5px #e84855, 6px 6px #e84855, 7px 7px #e84855,
        8px 8px #e84855, 9px 9px #e84855, 10px 10px #e84855, 11px 11px #e84855,
        12px 12px #e84855, 13px 13px #e84855, 14px 14px #e84855,
        15px 15px #e84855, 16px 16px #e84855, 17px 17px #e84855,
        18px 18px #e84855, 19px 19px #e84855, 20px 20px #e84855;
}

.text-container {
    margin-left: 50px;
    line-height: 40px;
}
.container {
    display: flex;
    justify-content: center;
}

/* petition page */
canvas {
    width: 600px;
    height: 80px;
    border: 2px dotted black;
    align-self: center;
}

button {
    height: 30px;
    width: 120px;
    font-size: medium;
    font-weight: bold;
    align-self: center;
}
button:hover {
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}

.footer {
    flex-shrink: 0;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
}

/* header styling */
header {
    position: fixed;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
}

header * {
    display: inline;
    margin-left: auto;
}

header li {
    margin: 20px;
}

header li a {
    text-decoration: none;
    color: black;
}

/* register-site */
.register-container {
    width: 500px;
    height: auto;
    margin-left: 45%;
    margin-top: -35%;
    font-size: 20px;
    margin-bottom: 100px;
}
.welcome-text {
    width: 500px;
    height: auto;
    margin-top: 8%;
}

.register-input {
    width: 400px;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

.register-input input {
    margin: 20px;

    width: 300px;
}
.register-input label {
    font-family: 'Montserrat', sans-serif;
}

/* profile-site */
.profile-textcontainer {
    width: 700px;
    height: auto;
    margin-left: 35%;
    margin-top: -15%;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

.profile-boxes {
    width: 50%;
    height: auto;
    margin: auto;
    margin-top: 60px;
}

.profile-boxes input {
    margin: 10px;
}

button.continue {
    margin-left: 40%;
}

/* login site */
.login-container {
    width: 300px;
    height: auto;
    margin-left: 57%;
    margin-top: -27%;
}
.login-container input {
    margin: 20px 20px 20px 0;
    width: 300px;
}
.login-container label {
    font-family: 'Montserrat', sans-serif;
}

/* thanks site */

.thanks-container {
    width: 700px;
    height: auto;
    margin-left: 35%;
    margin-top: -15%;
    font-size: 25px;
}

.thanks-container a {
    font-size: 20px;
    margin-left: 25%;
}

.thanks-text {
    width: 600px;
    height: auto;
    text-align: center;
    margin-left: 7%;
}

input {
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    padding: 10px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

/* signers site */
.signers-container p {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
}

a,
p {
    font-family: 'Montserrat', sans-serif;
}
